<div class="card">
  <img class="image" src="./../../../assets/1.jpeg" alt="" routerLink="./../product-detail" />
  <div class="info">
    <h2 routerLink="./../product-detail">Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB Storage) | 6000mAh Battery | Upto 12GB RAM with RAM Plus</h2>
    <div class="rating">
      <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon
      ><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
    </div>
    <h3 class="price"><span class="d">₹</span>1300</h3>
  </div>
</div>
